/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 20px;
    font-family: var(--font-family);
    background-color: var(--surface-0);
    color: var(--text-color);
}

